* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 60%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 30px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 60%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.form {

    margin-left: 400px;



}

body {
    background-image: url"(images/images (16).jpeg)";
}